* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x:hidden;
}

nav {
  width: 100%;
  height: 45px;
  background: ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
  height: 68px;
  width: 1440px;
  justify-content: flex-start;
  background-color: #FFD9DA;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
	font-family: "Century Gothic";
  font-weight: bold;
}

.more-nav {
  display: unset;
  padding-left: 102px;
}

.more-nav a {
  display: inline-block;
    padding-right: 30px;
}

.more {
  cursor: pointer;
}

.first {
  height: 50px;
}

.last {
  display: none;
}


main {
  background-color: #FFD9DA;
  width: 1440px;
}

.left {
  background-color: #FFD9DA;
  height: 578px;
  display: flex;
  flex-direction: row-reverse;
  height: 720px;
  justify-content: flex-end;
}

.left .background {
  width: 1500px;
  height: 1500px;
  margin-top: -150px;
}

.left .back {
  width: 800px;
  height: 800px;
  margin-left: -1725px;
  margin-top: 450px;
}

.left p {
  font-size: 55px;
  width: 579px;
  font-family: "Roboto";
  position: absolute;
  margin-top: 567px;
  margin-left: 765px;
}


.bag {
  display: flex;
  margin-top: 400px;
  height: 600px;
  justify-content: center;
  align-items: baseline;
}

.bag h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  position: absolute;
  margin-left: -450px;
}

.bag p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 1223px;
  left: 121px;
  font-family: "Roboto";
  line-height: 45px;
}

.bag img {
  width: 709px;
  margin-top: 5px;
  margin-left: 640px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.right {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 755px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.right h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 363px;
  width: 508px;
  margin-top: 70px;
  line-height: 65px;
}

.right p {
  font-size: 35px;
  width: 1200px;
  margin-top: 250px;
  margin-left: -300px;
  font-family: "Roboto";
  line-height: 45px;
}

.pict {
  position: relative;
  --container-width: 149%;
  --container-width: 82%;
  width: 90vw;
  height: 65vw;
  top: 42px;
  }

.more-post {
  padding-top: 45px;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.more-post img {
  width: 500px;
  height: 700px;
  margin-left: 750px;
  margin-top: 104px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.more-post h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -297px;
  width: 551px;
  margin-top: 100px;
}

.more-post p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 2867px;
  left: 144px;
  font-family: "Roboto";
  line-height: 45px;
}

.right-next {
  margin-top: 168px;
  height: 600px;
}

.right-next img {
  width: 650px;
  margin-left: 39px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.right-next h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 769px;
  margin-top: -443px;
}

.right-next p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 3733px;
  left: 776px;
  font-family: "Roboto";
  line-height: 45px;
}

.left-next {
  background-color: white;
  height: 3380px;
  margin-top: 100px;

}

.left-next .next {
  width: 1700px;
  margin-left: 150px;
  margin-top: -50px;
}

.left-next h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  margin-top: 100px;
}

.left-next p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 4533px;
  left: 156px;
  font-family: "Roboto";
  line-height: 45px;
}

.left-next h2 {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  width: 551px;
  margin-top: 100px;
}

.left-next .tonext {
  width: 1440px;
  margin-top: 214px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.left-next h3 {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  width: 551px;
  margin-top: 100px;
}

.left-next .post {
  margin-top: 250px;
}

.left-next .post img{
  width: 400px;
  margin-left: 38px;
  margin-right: 38px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.right-last {
  padding-top: 20px;
  display: flex;
  height: 3000px;
  padding-left: 5%;
}

.right-last h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 80px;
  margin-top: 100px;
}

.right-last p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 7950px;
  left: 156px;
  font-family: "Roboto";
  line-height: 45px;
}

.right-last .next {
  position: relative;
  height: 700px;
  width: 500px;
  top: 106px;
  left: 780px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.right-last h2{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 80px;
  width: 551px;
  margin-top: 1000px;
}


.right-last .tonext-last {
  width: 1445px;
  height: 900px;
  margin-top: 1154px;
  margin-left: -570px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

.right-last h3 {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 80px;
  width: 551px;
  margin-top: 2200px;
}

.right-last .post1 {
  margin-left: -1440px;
  margin-top: 2350px;
}

.right-last .post1 img{
  width: 324px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.end {
  height: 4900px;
  background-color: black;
}

.end h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  margin-top: 100px;
  color: white;
}

.end p {
  font-size: 35px;
  position: relative;
  width: 547px;
  top: 200px;
  left: 150px;
  font-family: "Roboto";
  line-height: 45px;
  color: white;
}

.end .next-1 {
  height: 500px;
  width: 450px;
  margin-top: -121px;
  margin-left: 780px;
  margin-bottom: 100px;
}

.end h2 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  margin-top: 42px;
  color: white;
}

.end .tonext-last {
  position: relative;
  width: 1445px;
  height: 1000px;
  top: 150px;
}

.end h3 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  margin-top: 337px;
  color: white;
}

.end .next-2 {
  width: 1440px;
  margin-top: 450px;
}

.end .post1 {
  margin-top: 150px;
}


.end .post1 img{
  width: 400px;
  margin-left: 38px;
  margin-right: 38px;
}

.end h4 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 150px;
  margin-top: 250px;
  color: white;
}

.end .post2 {
  margin-top: 358px;

}

.end .post2 img{
  width: 400px;
  margin-left: 38px;
  margin-right: 38px;
}

.end .portfolio {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 40px;
  margin-top: 50px;
  color: white;
}

footer {
  background-color: #FFD9DA;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

footer p {
  font-size: 20px;
  font-family: "Roboto";
}

footer .art {
  width: 200px;
}

@media (max-width: 1024px)  {

  .last {
    display: none;
  }

  .main {
    width: 1024px;
  }

  .left p {
    margin-left: 350px;
    margin-top: 450px;
   }

   .bag {
     width: 1024px;
   }

   .bag h1 {
     margin-left: -300px;
   }

   .bag p {
     left: 61px;
     font-size: 23px;
     width: 470px;
   }

   .bag img {
     width: 459px;
     margin-left: 528px;
   }

   .right h1 {
     margin-left: 0px;
   }

   .right p {
     font-size: 23px;
     width: 900px;
     margin-left: -1350px;
   }

   .more-post h1 {
     margin-left: -390px;
   }

   .more-post p {
     font-size: 23px;
     width: 470px;
     left: 60px;
   }

   .more-post img {
     width: 350px;
     height: 500px;
     margin-left: 117px;
   }

   .right-next {
     height: 200px;
   }

   .right-next img {
     width: 459px;
     margin-top: -200px;
     margin-left: 0px;
   }

   .right-next h1 {
     margin-top: -300px;
     margin-left: 500px;
   }

   .right-next p {
     font-size: 23px;
     width: 470px;
     left: 500px;
     top: 3550px;
   }

   .left-next  {
    height: 2500px;
   }

   .left-next h1 {
     margin-left: 50px;
   }

   .left-next p {
     font-size: 23px;
     width: 470px;
     top: 4120px;
     left: 50px;
   }

   .left-next .next {
     margin-top: -400px;
     margin-left: 110px;
     left: 50px;
   }

   .left-next h2 {
     margin-left: 50px;
   }

   .left-next .tonext {
     width: 1024px;
   }

   .left-next h3 {
     margin-left: 50px;
   }

   .left-next .post img {
     width: 300px;
     margin-right: 10px;
     margin-left: 20px;
   }

   .right-last {
     height: 2350px;
   }


   .right-last h1 {
     margin-left: -15px;
   }

   .right-last p {
     font-size: 23px;
     width: 470px;
     left: 50px;
     top: 6650px;
   }

   .right-last .next {
     width: 350px;
     height: 500px;
     margin-left: -257px;
   }

   .right-last h2 {
     margin-left: -20px;
     margin-top: 750px;
   }

   .right-last .tonext-last {
     width: 1024px;
     height: 700px;
     margin-left: -170px;
     margin-top: 850px;
   }

   .right-last h3 {
    margin-left: -20px;
     margin-top: 1700px;
   }

   .right-last .post1 {
     margin-top: 1800px;
     margin-left: -1000px;
   }

   .right-last .post1 img {
     width: 205px;
   }

   .end {
     height: 3800px;
   }

   .end h1 {
     margin-left: 50px;
   }

   .end p {
     margin-left: -100px;
     font-size: 23px;
     width: 470px;
   }

   .end .next-1 {
     width: 350px;
     height: 400px;
     margin-left: 550px;
     margin-top: -75px;
   }

   .end h2 {
     margin-left: 50px;
   }

   .end .tonext-last {
     width: 1024px;
     height: 700px;
   }

   .end h3 {
     margin-top: 350px;
     margin-left: 50px;
   }

   .end .next-2 {
     width: 1024px;
    }

    .end .post1 {
      margin-top: 50px;
     }

    .end .post1 img{
      width: 300px;
      margin-left: 17px;
      margin-right: 16px;
     }

     .end h4 {
       margin-left: 50px;
     }

     .end .post2 img{
       width: 300px;
       margin-left: 17px;
       margin-right: 16px;
      }

      footer p {
        font-size: 10px;
      }


   }


@media (max-width: 768px)  {

  .last {
    display: block;
    width: 30px;
    margin-left: 620px;
  }

  nav {
    height: 50px;
  }

  .left p {
    font-size: 35px;
    margin-left: 330px;
    margin-top: 350px;
  }

  .bag {
    margin-top: -150px;
  }

  .bag h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-left: -350px;
  }

  .bag p {
    top: 650px;
    line-height: 36px;
  }

  .bag img {
    margin-left: 0px;
    margin-top: 300px;
  }

  .right {
    height: 500px;
  }

  .right h1 {
    font-size: 35px;
    margin-top: 64px;
    margin-left: -430px;
  }

  .right p {
    font-size: 20px;
    width: 650px;
    margin-top: 150px;
    margin-left: -2166px;
    line-height: 30px;
  }

  .more-post h1 {
    font-size: 35px;
  }

  .more-post p {
    top: 1980px;
    width: 350px;
    line-height: 36px;
  }

  .more-post img {
    width: 271px;
    height: 380px;
    margin-left: -244px;
    margin-top: 169px;

  }

  .right-next {
    height: 343px;

  }

  .right-next h1 {
    margin-top: -646px;
    margin-left: 50px;
    font-size: 35px;
  }

  .right-next p {
    font-size: 23px;
    width: 470px;
    left: 50px;
    top: 2523px;
    line-height: 36px;
  }

  .right-next img {
    margin-top: -39px;
    margin-left: 257px;
    left: 50px;
  }

  .left-next {
    height: 2000px;
  }

  .left-next h1 {
    font-size: 35px;
  }

  .left-next p {
    font-size: 23px;
    width: 470px;
    top: 3453px;
    line-height: 36px;
  }

  .left-next .next {
    margin-top: 5px;
    margin-left: 173px;
    width: 918px;
  }

  .left-next h2{
    font-size: 35px;
  }

  .left-next .tonext{
    width: 768px;
  }

  .left-next h3{
    font-size: 35px;
  }

  .left-next .post {
    margin-top: 185px;
  }

  .left-next .post img {
    width: 217px;
  }

  .right-last {
    height: 1800px;
  }


  .right-last h1 {
    font-size: 35px;
  }

  .right-last p {
    font-size: 23px;
    width: 350px;
    top: 5453px;
    line-height: 36px;

  }

  .right-last .next {
    width: 271px;
    height: 380px;
    margin-left: -403px;
    margin-top: 0px;
  }

  .right-last h2 {
    font-size: 35px;
    margin-top: 618px;
  }

  .right-last .tonext-last {
    width: 768px;
    height: 542px;
    margin-left: 51px;
    margin-top: 706px;
  }

  .right-last h3 {
    font-size: 35px;
    margin-top: 1366px;
  }

  .right-last .post1 {
    margin-top: 1456px;
    margin-left: -746px;
  }

  .right-last .post1 img {
    width: 160px;
    margin-left: 6px;

  }

  .end {
    height: 3100px;
  }

  .end h1 {
    font-size: 35px;
  }

  .end p {
    margin-left: -100px;
    font-size: 23px;
    width: 350px;
    line-height: 36px;
    top: 164px;
  }

  .end .next-1 {
    width: 308px;
    height: 365px;
    margin-left: 414px;
    margin-top: -161px;
  }

  .end h2 {
    font-size: 35px;
  }

  .end .tonext-last {
    width: 768px;
    height: 605px;
  }

  .end h3 {
    margin-top: 310px;
    font-size: 35px;
  }

  .end .next-2 {
    width: 768px;
    margin-top: 405px;
   }

   .end .post1 {
     margin-top: 50px;
    }

   .end .post1 img{
     width: 230px;
     margin-left: 13px;
     margin-right: 4px;
    }

    .end h4 {
     font-size: 35px;
     margin-top: 127px;
    }

    .end .post2 {
      margin-top: 224px;
    }

    .end .post2 img{
      width: 215px;
     }

     .end .portfolio {
       font-size: 20px;
     }

     footer {
      height: 60px;
     }

     footer .art {
      width: 104px;
    }










}
